* {
	margin: 0;
	padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../resources/background.svg);
    background-repeat: none;
    background-position: center;
    background-size: 100%;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 105px;
    background: #F8FCF8;
    box-shadow: 0px -4px 20px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_nav {
    height: 66px;
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_micro {
    width: 66px;
    height: 66px;
    border-radius: 200px;
    background: #130F49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up_bar_patch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    width: 100vw;
    height: calc(10vw + 25px);
    top: 0;
    left: 0;
    background-color: #F8FCF8;
}

.up_bar {
    height: 25px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.title_page {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #130F49;
}

.block_command {
    width: 100vw;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group_command {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 98px;
    height: 260px;
    margin-left: calc(100vw - 367px);
}

.btn_command {
    width: 58px;
    height: 58px;
    background: rgba(168, 198, 130, 0.57);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.btn_command_2 {
    width: 58px;
    height: 58px;
    background: rgba(168, 198, 130, 0.57);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_bird {
    width: 252px;
    height: 300px;
    object-fit: cover;
    border-top: 1px solid #E0E2E2;
    border-bottom: 1px solid #E0E2E2;
    border-left: 1px solid #E0E2E2;
    border-radius: 500px 0px 0px 500px;
}

.name_bird {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #130F49;
    margin-top: 66px;
    width: calc(100vw - 64px);
    margin-left: 32px;
}

#overview, #title_images {
    margin-top: 22px;
    width: calc(100vw - 64px);
    margin-left: 32px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #130F49;
}

.desc_bird {
    margin-top: 16px;
    width: calc(100vw - 64px);
    margin-left: 32px;
    font-family: 'Noto sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 151.51%;
    text-align: justify;
    color: #9D9D9D;
}

.images_bird {
    margin-top: 16px;
    width: calc(100vw - 64px);
    margin-left: 32px;
    height: 210px;
    object-fit: cover;
    box-sizing: border-box;
    border: 2px solid #344966;
    border-radius: 26px;
}

.copyright {
    margin-top: 16px;
    width: calc(100vw - 64px);
    margin-left: 32px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #B7B7B8;
}

.margin_nav_bar {
    width: 100vw;
    height: 120px;
}